extends ../layout.pug

block content
    include ../components/index/main-slider
    include ../components/index/map-info
    include ../components/index/discounts
    include ../components/index/news
    include ../components/index/seo-text
